---
import Base from "@/layouts/Base.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import WhatIDo from "@/components/WhatIDo.astro";
import SkipLink from "@/components/SkipLink.astro";
---

<Base>
  <SkipLink />
  <Header />
  <main id="main" class="container mx-auto md:px-10 py-20">
    <WhatIDo />
  </main>
  <Footer />
</Base>
