---
import Layout from '@/layouts/BlogPost.astro';
const tags = ['astro', 'react', 'web-components', 'next.js', 'software architecture'];
const description = `
  <p class="text-left">
    Photo by <a href="https://unsplash.com/@jay_zhang?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Jay Zhang</a> on <a href="https://unsplash.com/photos/white-green-and-blue-computer-keyboard-ZByWaPXD2fU?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
  </p>
`;
---

<Layout
	tags={tags}
	icon="beach"
	title="About Me"
	description= {description}
	pubDate={new Date('March 11, 2025')}
	heroImage="/src/assets/keyboard.jpg"
>
  <p>
		I am a senior full-stack developer based in Central Massachusetts/Greater Boston Area, passionate about building performant, accessible, and standards-compliant web applications. With experience spanning frontend and backend development, I specialize in modern frameworks like Next.js, React, Astro, and web components, as well as backend technologies such as Node.js (Fastify, Express) and Python (Flask). I have a deep understanding of relational databases, particularly MySQL and PostgreSQL, and enjoy architecting scalable, efficient systems.
	</p>

	<p>
		Beyond coding, I have a strong interest in research and development, always eager to explore emerging technologies and refine best practices. I’m committed to web accessibility and ensuring that digital experiences are inclusive for all users. Continuous learning drives me, whether it's experimenting with new tools, optimizing workflows, or sharing insights with others.
	</p>

	<p>
		Outside of work, I’m a dedicated Ipswich Town supporter (COYB!), an avid runner, and a book lover with a particular fondness for literary fiction, sci-fi, and the occasional biography. I also enjoy gaming—both video and board games—and spending time with my dog, Penny.
	</p>

</Layout>
