---
import Layout from '@/layouts/BlogPost.astro';
const tags = ['astro', 'react', 'web-components', 'next.js', 'software architecture'];
const description = `
  <p class="text-left">
    Photo by <a href="https://unsplash.com/@jay_zhang?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Jay Zhang</a> on <a href="https://unsplash.com/photos/white-green-and-blue-computer-keyboard-ZByWaPXD2fU?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
  </p>
`;
---

<Layout
	tags={tags}
	icon="beach"
	title="About Me"
	description= {description}
	pubDate={new Date('March 11, 2025')}
	heroImage="/src/assets/keyboard.jpg"
>
	<p> 
		I'm a full-stack developer focused on building fast, accessible, and standards-compliant web applications. I specialize in modern frameworks like Next.js, React, Astro, and web components, alongside backend technologies like Fastify, Express, and Flask. I also have a strong background in relational databases (MySQL, PostgreSQL) and love designing scalable, efficient systems. 
	</p>
	
	<p> 
		I'm always learning—whether it's diving into new frameworks, optimizing performance, or refining best practices. Accessibility and inclusive design are big priorities for me, and I’m always looking for ways to build better experiences for all users. Outside of tech, I love picking up new skills, whether that’s through books, classes (I'm learning Sean-nós dancing at the minute), tinkering, or just good conversations with others.
	</p>

	<p> 
		Beyond coding, I’m a devoted Ipswich Town supporter (COYB!), a regular runner, and a book nerd with a soft spot for literary fiction, sci-fi, and the occasional biography. I also love gaming—both video and board—and hanging out with my dog, Penny. 
	</p> 

</Layout>
