---
import Layout from '@/layouts/BlogPost.astro';
const tags = ['astro', 'react', 'web-components', 'next.js', 'software architecture'];
const description = `
  <p class="text-left">
    Photo by <a href="https://unsplash.com/@jay_zhang?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Jay Zhang</a> on <a href="https://unsplash.com/photos/white-green-and-blue-computer-keyboard-ZByWaPXD2fU?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
  </p>
`;
---

<Layout
	tags={tags}
	icon="beach"
	title="About Me"
	description= {description}
	pubDate={new Date('March 11, 2025')}
	heroImage="/src/assets/keyboard.jpg"
>
	<p>
		Kurt is a full-stack developer living and working in Central Massachusetts. As Grafton Studio’s back-end lead, they have experience in everything from writing scripts and designing APIs to architecting software systems and managing DevOps. They work mostly in JavaScript, but enjoy the occasional bit of Python as well.
	</p>

	<p>
		Kurt has a variety of hobbies outside of work. Besides being a massive Ipswich Town supporter (COYB!), they enjoy running, reading, playing video and board games, and spending time with their dog, Penny.
	</p>
</Layout>
