---
import Base from "@/layouts/Base.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Hero from "@/components/Hero.astro";
import WhatIDo from "@/components/WhatIDo.astro";
import SkipLink from "@/components/SkipLink.astro";
---

<Base>
  <SkipLink />
  <Header />
  <main id="main" class="container mx-auto md:px-10">
    <Hero />
    <WhatIDo maxPosts="4"/>
  </main>
  <Footer />
</Base
