---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/*.{jpeg,jpg,png,gif}"
);
---

<section class="py-20 flex md:flex-row flex-col px-4 md:px-0 gap-10 md:gap-0">
  <div class="flex flex-col gap-6 justify-start items-start md:w-1/2">
    <h1 class="text-pblack">Hi, my name is Kurt Fuquay</h1>
    <p class="text-6xl font-bold">I am a web developer.</p>
    <p>
      Currently working as a senior software engineer at Grafton Studio.
    </p>
  </div>
  <div
    class="md:w-1/2 object-contain flex items-center justify-center p-10 group"
  >
    <a
      rel="noopener noreferrer"
      href="https://es.wikipedia.org/wiki/Joaqu%C3%ADn_Sorolla"
      target="_blank"
    >
      <div
        class="bg-pblue border-3 border-black rounded-2xl h-52 w-60 shadow-card group-hover:shadow-hover flex transition relative"
      >
        <div class="h-80 w-60 overflow-hidden relative -mt-30 rounded-2xl">
          <Image
            class="object-bottom absolute bottom-0 group-hover:scale-105 transition"
            src={images["/src/assets/hero.png"]()}
            alt="Sorolla, photo wiki"
          />
        </div>
      </div></a
    >
  </div>
</section>
