<a href="#main" id="skip-link" class="border-2 border-black bg-white text-black p-2 rounded-lg motion-safe:transition-opacity duration-500 ease-in-out">
  SKIP TO CONTENT
</a>

<style>
  #skip-link {
    position: absolute;
    left: -9999px;
    z-index: 999;
    padding: 1em;
    opacity: 0;
  }
  #skip-link:focus {
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
  }
</style>